---
layout: onepage
---

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<title>TONY TANG</title>
</head>

<body>
    {% include header.html %}
	<script type="text/javascript">

		// change the color of the site header border
		var change_site_header_color = function(color) {
			var site_header = $(".site-header");
			site_header.css("border-top", "5px solid " + color);
		}

		// set random initial color values
		var red = Math.floor(Math.random() * 255);
		var green = Math.floor(Math.random() * 255);
		var blue = Math.floor(Math.random() * 255);

		// add 5 to the argument, and loop back to 0 if result is greater than 255
		var color_add = function(color) {
			color += 2;
			if (color > 255) {
				color = 0;
			}
			return color;
		}

		// set every 100ms, call a funcion to change the color of the site header border
		setInterval(function() {
			red  = color_add(red);
			green = color_add(green);
			blue = color_add(blue);
 			var color_string = "rgb(" + red + ", " + green + ", " + blue + ")";
 			change_site_header_color(color_string);
		}, 300);
	</script>
	<div class="page-content">
	  <div class="wrapper">
	  <div class="skill-section">
	  	<div class="skill-section-header">
	  		<img src="/assets/myface2_small.jpg" class="myface-small">
	  		About Me
	  	</div>
	  	<div class="skill-section-body">
	  		<p class="about-me">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, reprehenderit ratione quos magni ullam deserunt architecto laudantium debitis illo laboriosam commodi amet, et voluptate aliquam tenetur dolorum impedit beatae explicabo!
	  		</p>
	  	</div>
	  	<div class="skill-section-footer"></div>
	  	</div>
	 	<div class="skill-section">
		  	<div class="skill-section-header">
		  		Development Experience
		  		<span class="skill-pill skill-industry-experience">Industry Experience</span>
		  		<span class="skill-pill">Classroom/Hobbies</span>
		  	</div>
		  	<div class="skill-section-body">
			  	<table class="skill-section-table">
				  	<tr>
				  		<td>Frontend</td>
				  		<td>
					  		<span class="skill-pill skill-industry-experience">HTML</span>
					  		<span class="skill-pill skill-industry-experience">CSS</span>
					  		<span class="skill-pill skill-industry-experience">JavaScript</span>
					  		<span class="skill-pill skill-industry-experience">jQuery</span>
					  		<span class="skill-pill skill-industry-experience">AJAX</span>
					  		<span class="skill-pill skill-industry-experience">Bootstrap</span>
					  		<span class="skill-pill">Bourbon</span>
				  		</td>
				  	</tr>
				  	<tr>
				  		<td>Backend</td>
				  		<td>
				  			<span class="skill-pill skill-industry-experience">Java</span>
				  			<span class="skill-pill skill-industry-experience">MySQL</span>
				  			<span class="skill-pill skill-industry-experience">Solr</span>
				  			<span class="skill-pill">C</span>
				  			<span class="skill-pill">C++</span>
				  			<span class="skill-pill">PHP</span>
				  			<span class="skill-pill">Ruby on Rails</span>
				  			<span class="skill-pill">Swift</span> 
				  			<span class="skill-pill">PostgresSQL</span> 
				  		</td>
				  	</tr>
				  	<tr>
				  		<td>Tools</td>
				  		<td>
				  			<span class="skill-pill skill-industry-experience">Spring STS</span>
				  			<span class="skill-pill skill-industry-experience">git</span>
				  			<span class="skill-pill skill-industry-experience">Unix</span>
				  			<span class="skill-pill">Heroku</span>
				  		</td>
				  	</tr>
				  	<tr>
				  		<td>Other</td>
				  		<td>
				  			<span class="skill-pill">Jekyll</span>
				  			<span class="skill-pill">Scheme</span>
				  			<span class="skill-pill">iOS Frameworks</span>
				  		</td>
				  	</tr>
			  	</table>
		  	</div>
		  	<div class="skill-section-footer">
			</div>
  		</div>
		<div class="skill-section">
		  	<div class="skill-section-header">
		  	Education
		  	</div>
		  	<div class="skill-section-body">
		  		<table class="skill-section-table">
					<tr>
						<td>2012-2017</td>
						<td>
						<img src="/assets/UniversityOfWaterloo_logo_vert_rgb.png" class="waterloo-crest" />
						3A Computing and Financial Management <br />
						University of Waterloo, <em>Waterloo</em>
						</td>
					</tr>
				</table>
		  	</div>
		  	<div class="skill-section-footer">
		  	</div>
	  	</div>
	  	<div class="skill-section">
		  	<div class="skill-section-header">
		  		Work Experience
		  	</div>
		  	<div class="skill-section-body">
			  	<table class="skill-section-table">
			  		<tr>
			  			<td>
				  			<div class="work-company-name">LyricFind</div>
				  			Sep 2014 - Dec 2014<br />
				  			<div class="work-company-logo-wrapper">
				  				<img src="/assets/lyricfind_logo.png" class="work-company-logo" />
			  				</div>
			  			</td>
			  			<td>
				  			<ul>
				  				<li>Developed web app using Java and Spring Model View Controller (MVC) to build a repository of music lyrics with an elegant front end interface</li>
								<li>Improved MySQL efficiency by rewriting scripts to reduce hundreds of lazy loading queries into one</li>
								<li>Implemented custom repositories and Data Access Objects (DAO) for MySQL and Solr</li>
								<li>Redesigned front-end using best UI and UX practices with Bootstrap and JavaScript</li>
								<li>Practiced test driven development by design test cases and writing unit tests before coding</li>
							</ul>
			  			</td>
			  		</tr>
			  		<tr>
			  			<td>
			  				<div class="work-company-name">CBC/Radio-Canada</div>
			  				Jan 2014 - Apr 2014<br />
				  			<div class="work-company-logo-wrapper">
				  				<img src="/assets/cbc_logo2.png" class="work-company-logo" />
			  				</div>
			  			</td>
			  			<td>
			  				<ul>
								<li>
									Integrated quickly into the Agile Scrum environment by taking on projects from 4 different teams to learn the ropes of all areas of web development
								</li>
								<li>
									Conducted various types of quality assurance tests to only accept software that meet the standards
								</li>
								<li>
									Reduced hours of tedious and repetitive tasks by writing automation tests in Unix commands
								</li>
							</ul>
			  			</td>
			  		</tr>
			  	</table>
		  	</div>
		  	<div class="skill-section-footer">
		  	</div>
	  	</div>
	  	<div class="skill-section">
		  	<div class="skill-section-header">
		  		Projects
		  		<small>(<a href="http://www.github.com/nflavour">Github</a>)</small>
		  	</div>
		  	<div class="skill-section-body">
				<table class="skill-section-table">
					<tr>
						<td>
							<strong>DayToDay</strong><br />
							<em>In Progress</em><br />
							2014
						</td>
						<td>
							To Do List that highlights today’s tasks and carry over reviously uncompleted ones so users can focus on what is important today. <br />
							Tools: <span class="skill-pill">Swift</span> <span class="skill-pill">iOS Frameworks</span>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Budgeting Tool</strong><br />
							2014
						</td>
						<td>
							Web app to keep track of personal spending based onthe users input.<br />
							Tools: <span class="skill-pill skill-industry-experience">JavaScript</span> <span class="skill-pill">Ruby on Rails</span> <span class="skill-pill">Bourbon</span> <span class="skill-pill">Sass</span>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Tetris</strong><br />
							2014
						</td>
						<td>
							Tetris game using the popular rotation and wall kick algorithms<br />
							Tools: <span class="skill-pill skill-industry-experience">JavaScript</span>
						</td>
					</tr>
				</table>
		  	</div>
		  	<div class="skill-section-footer">
		  	</div>
	  	</div> 
	  	<div class="skill-section">
		  	<div class="skill-section-header">
		  		Community Involvement
		  	</div>
		  	<div class="skill-section-body">
		  		<div class="skill-section-carousel">
  					<div class="carousel-group">
		  				<div class="carousel-title">
		  					Velocity Residence
	  					</div>
		  				<div class="carousel-subtitle">
		  					A residence program that connects enthusiastic entrepreneurs
		  				</div>
						<div class="carousel-body">
							<img src="/assets/velocity_logo.png" class="carousel-body-img" />
						</div>
					</div>
					<div class="carousel-gutter"></div>
  					<div class="carousel-group">
	  					<div class="carousel-title">
	  						Restaurant Host/Expedite
  						</div>
	  					<div class="carousel-subtitle">
	  					Greet customers with a smile! Always making sure their visit is the best
	  					</div>
						<div class="carousel-body">
							<img src="/assets/bomber_logo.png" class="carousel-body-img" />
						</div>
					</div>
					<div class="carousel-gutter"></div>
  					<div class="carousel-group">
	  					<div class="carousel-title">
	  						Co-op Connection Coordinator
  						</div>
	  					<div class="carousel-subtitle">
	  					Connecting co-op students on their work terms by organizing social events
	  					</div>
						<div class="carousel-body">
							<img src="/assets/coopconnection_logo.png" class="carousel-body-img" />
						</div>
					</div>
		  		</div>
		  	</div>
		  	<div class="skill-section-footer">
		  	</div>
	  	</div>
	  	<div class="skill-section">
		  	<div class="skill-section-header">
		  		Hobbies
		  	</div>
		  	<div class="skill-section-body">
			  	<div class="hobbies">
				  		<div class="hobby">Poker</div>
				  		<div class="hobby">Chess</div>
				  		<div class="hobby">Go</div>
				  		<div class="hobby">Board Games</div>
				  		<div class="hobby">Volleyball</div>
				  		<div class="hobby">Swimming</div>
				  		<div class="hobby">Strong Lifts</div>
				  		<div class="hobby">Violin</div>
			  	</div>
		  	</div>
		  	<div class="skill-section-footer">
		  	</div>
	  	</div> 
	  </div>
	</div>

	{% include footer.html %}

</body>