---
layout: onepage
---

<head>
	{% include head.html %}
</head>

<body>
    {% include header.html %}
	<div class="page-content">
	  <div class="wrapper">
	  <div class="skill-section">
	  	<div class="skill-section-header">
	  		<img src="/assets/myface2_small.jpg" class="myface-small">
	  		About Me
	  	</div>
	  	<div class="skill-section-body">
	  		<p class="about-me">
	  		<em></em>
	  		</p>
	  		<p class="about-me">
	  			Enthusiastic, Charismatic, Energetic. I would describe myself like that. I will always put 100% into what I do, whether it would be coding, designing, or gaming. When I am faced with a new problem, I tackle it head on, look for solutions, learn new tools, and get a heck lot of enjoyment out of it. I have experience as a front-end and a full-stack developer. If there's something I don't know, I will seek the resources to learn and explore it. Reach out to me! I think we can work on something together.
  			</p>
	  		<p class="about-me">
				As always, I love opportunities to share and learn. Let me know if you would like to talk your work and experiences or to learn more about what I do.
	  		</p>
	  	</div>
	  	<div class="skill-section-footer"></div>
	  	</div>
	 	<div class="skill-section">
		  	<div class="skill-section-header">
		  		Development Experience
		  		<span class="skill-pill skill-industry-experience">Industry Experience</span>
		  		<span class="skill-pill">Classroom/Hobbies</span>
		  	</div>
		  	<div class="skill-section-body">
			  	<table class="skill-section-table">
				  	<tr>
				  		<td>Languages</td>
				  		<td>
					  		<span class="skill-pill skill-industry-experience">JavaScript</span>
				  			<span class="skill-pill skill-industry-experience">Node.js</span>
					  		<span class="skill-pill skill-industry-experience">Java</span>
				  			<span class="skill-pill skill-industry-experience">SQL</span>
				  			<span class="skill-pill skill-industry-experience">Git</span>
				  			<span class="skill-pill skill-industry-experience">Unix</span>
				  			<span class="skill-pill">C++</span>
				  			<span class="skill-pill">PHP</span>
				  			<span class="skill-pill">Ruby</span>
				  		</td>
				  	</tr>
				  	<tr>
				  		<td>Frameworks</td>
				  		<td>
				  			<span class="skill-pill skill-industry-experience">Spring MVC</span>
				  			<span class="skill-pill skill-industry-experience">Require.js</span>
				  			<span class="skill-pill skill-industry-experience">jQuery.js</span>
				  			<span class="skill-pill skill-industry-experience">Mocha</span>
				  			<span class="skill-pill">Ruby on Rails</span>
				  		</td>
				  	</tr>
				  	<tr>
				  		<td>Other</td>
				  		<td>
				  			<span class="skill-pill skill-industry-experience">Docker</span>
				  			<span class="skill-pill skill-industry-experience">Google Cloud Platform</span>
				  			<span class="skill-pill skill-industry-experience">ES2015</span>
				  			<span class="skill-pill skill-industry-experience">HTTP/2.0</span>
				  			<span class="skill-pill">Jekyll</span>
				  			<span class="skill-pill">Heroku</span>
				  		</td>
				  	</tr>
			  	</table>
		  	</div>
		  	<div class="skill-section-footer">
			</div>
  		</div>
		<div class="skill-section">
		  	<div class="skill-section-header">
		  	Education
		  	</div>
		  	<div class="skill-section-body">
		  		<table class="skill-section-table">
					<tr>
						<td>2012 - 2017</td>
						<td>
						<img src="/assets/UniversityOfWaterloo_logo_vert_rgb.png" class="waterloo-crest" />
						<strong>3B Computing and Financial Management</strong><br />
						University of Waterloo, <em>Waterloo</em>
						</td>
					</tr>
				</table>
		  	</div>
		  	<div class="skill-section-footer">
		  	</div>
	  	</div>
	  	<div class="skill-section">
		  	<div class="skill-section-header">
		  		Work Experience
		  	</div>
		  	<div class="skill-section-body">
			  	<table class="skill-section-table">
			  		<tr>
			  			<td>
				  			<div class="work-company-name">Snapsale</div>
				  			September 2015 - December 2015<br />
				  			<div class="work-company-logo-wrapper">
				  				<img src="/assets/snapsale_logo.png" class="work-company-logo" />
			  				</div>
			  			</td>
			  			<td>
				  			<ul>
								<li>Resolved mission critical bug in machine learning backend caused poor deployment infrastructure</li>
								<li>Reduced response time from 1000ms to 130ms by preloading the required files into memory</by>
								<li>Implemented Docker containers for machine learning backends in Google Container Engine</li>
								<li>Scaled backend instances by integrating Load Balancer and Auto Scaling in Google Compute Engine</li>
								<li>Integrated Jenkins into development cycle to automatically test code deployed to GitHub</li>
							</ul>
			  			</td>
			  		</tr>
			  		<tr>
			  			<td>
				  			<div class="work-company-name">Medallia</div>
				  			May 2015 - August 2015<br />
				  			<div class="work-company-logo-wrapper">
				  				<img src="/assets/medallia_logo.jpeg" class="work-company-logo" />
			  				</div>
			  			</td>
			  			<td>
				  			<ul>
								<li>Developing an Express/Connect middleware to deliver any packages at any version from company's GitHub, utilizing various in-memory and file system level caching, creating APIs and standards to configure module loading</li>
								<li>Designed a prototype using HTTP/2 and ES2015 modules to prove the ability to improve modularity and file caching</li>
								<li>Introduced System.js to load modules in CommonJS, globals, and ES2015 format replacing Require.js</li>
								<li>Integrated Git into Node.js server to access files at various Git revisions on demand</li>
								<li>Replaced testing tools built in-house with industry standard frameworks Karma and Mocha to improve test coverage and test authoring efficiency</li>
							</ul>
			  			</td>
			  		</tr>
			  		<tr>
			  			<td>
				  			<div class="work-company-name">LyricFind</div>
				  			Sep 2014 - Dec 2014<br />
				  			<div class="work-company-logo-wrapper">
				  				<img src="/assets/lyricfind_logo.png" class="work-company-logo" />
			  				</div>
			  			</td>
			  			<td>
				  			<ul>
				  				<li>Utilized Spring MVC to build Java web app with an elegant interface to quickly search and modify music lyrics</li>
								<li>Improved MySQL queries efficiency by reducing hundreds of lazy loading queries into one query</li>
								<li>Implemented custom Data Access Objects (DAO), schema, data serializer for MySQL and Solr</li>
								<li>Practiced test driven development by designing test cases and writing unit tests before coding</li>
							</ul>
			  			</td>
			  		</tr>
			  		<tr>
			  			<td>
			  				<div class="work-company-name">CBC/Radio-Canada</div>
			  				Jan 2014 - Apr 2014<br />
				  			<div class="work-company-logo-wrapper">
				  				<img src="/assets/cbc_logo2.png" class="work-company-logo" />
			  				</div>
			  			</td>
			  			<td>
			  				<ul>
								<li>Configured and tested software using virtual machines to ensure cross browser and platform compatibility</li>
								<li>Enhanced the scope of test cases to test location based services, connection speed, and mobile devices by creating new testing strategies and standards using web proxy Charles</li>
								<li>Reduced hours of tedious and repetitive tasks by writing automation tests in Unix commands</li>
							</ul>
			  			</td>
			  		</tr>
			  	</table>
		  	</div>
		  	<div class="skill-section-footer">
		  	</div>
	  	</div>
	  	<div class="skill-section">
		  	<div class="skill-section-header">
		  		Projects
		  		<small>(<a href="http://www.github.com/nflavour">Github</a>)</small>
		  	</div>
		  	<div class="skill-section-body">
				<table class="skill-section-table">
					<tr>
						<td>
							<a href="https://github.com/nflavour/billsplit">PayToPotty</a>
						</td>
						<td>
							Web app combining the concept of Airbnb for washrooms to solve the problem of public urination in San Francisco. (Meteor.js hackathon winner, 2015)<br />
							Tools: <span class="skill-pill skill-industry-experience">JavaScript</span> <span class="skill-pill">Meteor.js</span> <span class="skill-pill">Bootstrap</span> <span class="skill-pill">Google Maps API</span>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://budget.tonyt.me">Budgeting Tool</a>
						</td>
						<td>
							Web app to keep track of personal spending based onthe users input.<br />
							Tools: <span class="skill-pill skill-industry-experience">JavaScript</span> <span class="skill-pill">Ruby on Rails</span> <span class="skill-pill">Bourbon</span> <span class="skill-pill">Sass</span>
						</td>
					</tr>
					<tr>
						<td>
							<a href="/tetris.js">Tetris</a>
						</td>
						<td>
							Tetris game using the popular rotation and wall kick algorithms<br />
							Tools: <span class="skill-pill skill-industry-experience">JavaScript</span>
						</td>
					</tr>
				</table>
		  	</div>
		  	<div class="skill-section-footer">
		  	</div>
	  	</div> 
	  	<div class="skill-section">
		  	<div class="skill-section-header">
		  		Community Involvement
		  	</div>
		  	<div class="skill-section-body">
		  		<div class="skill-section-carousel">
  					<div class="carousel-group">
		  				<div class="carousel-title">
		  					Velocity Residence
	  					</div>
		  				<div class="carousel-subtitle">
		  					A residence program that connects enthusiastic entrepreneurs
		  				</div>
						<div class="carousel-body">
							<a href="http://velocity.uwaterloo.ca"><img src="/assets/velocity_logo.png" class="carousel-body-img" /></a>
						</div>
					</div>
					<div class="carousel-gutter"></div>
  					<div class="carousel-group">
	  					<div class="carousel-title">
	  						Restaurant Host/Expedite
  						</div>
	  					<div class="carousel-subtitle">
	  					Greet customers with a smile! Always making sure their visit is the best
	  					</div>
						<div class="carousel-body">
							<a href="http://www.feds.ca/bomber"><img src="/assets/bomber_logo.png" class="carousel-body-img" /></a>
						</div>
					</div>
					<div class="carousel-gutter"></div>
  					<div class="carousel-group">
	  					<div class="carousel-title">
	  						Co-op Connection Coordinator
  						</div>
	  					<div class="carousel-subtitle">
	  					Connecting co-op students on their work terms by organizing social events
	  					</div>
						<div class="carousel-body">
							<a href="http://www.feds.ca/coop"><img src="/assets/coopconnection_logo.png" class="carousel-body-img" /></a>
						</div>
					</div>
		  		</div>
		  	</div>
		  	<div class="skill-section-footer">
		  	</div>
	  	</div>
	  	<div class="skill-section">
		  	<div class="skill-section-header">
		  		Hobbies
		  	</div>
		  	<div class="skill-section-body">
			  	<div class="hobbies">
			  		<div class="hobby">Poker</div>
			  		<div class="hobby">Chess</div>
			  		<div class="hobby">Go</div>
			  		<div class="hobby">Board Games</div>
			  		<div class="hobby">Volleyball</div>
			  		<div class="hobby">Swimming</div>
			  		<div class="hobby">Violin</div>
			  	</div>
		  	</div>
		  	<div class="skill-section-footer">
		  	</div>
	  	</div> 
	  </div>
	</div>

	{% include footer.html %}

</body>