<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a class="page-link" href="mailto:tonycantang@gmail.com">Contact</a>
      </div>
    </nav>

  </div>

</header>
<script type="text/javascript">

    // change the color of the site header border
    var change_site_header_color = function(color) {
      var site_header = $(".site-header");
      site_header.css("border-top", "5px solid " + color);
    }

    // set random initial color values
    var red = Math.floor(Math.random() * 255);
    var green = Math.floor(Math.random() * 255);
    var blue = Math.floor(Math.random() * 255);

    // add 5 to the argument, and loop back to 0 if result is greater than 255
    var color_add = function(color) {
      color += 2;
      if (color > 255) {
        color = 0;
      }
      return color;
    }

    // set every 100ms, call a funcion to change the color of the site header border
    setInterval(function() {
      red  = color_add(red);
      green = color_add(green);
      blue = color_add(blue);
      var color_string = "rgb(" + red + ", " + green + ", " + blue + ")";
      change_site_header_color(color_string);
    }, 300);
  </script>
