/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * One Page
 */
.skill-section {
    display: block;
    padding: 10px 0;
    .myface-small {
        float: left;
        width: 150px;
        margin-right: 1em;
        margin-bottom: 1em;
        display: block;
        z-index: 1;
        border-radius: 10px;
        box-shadow: -10px 10px 10px #666;
    }
    .waterloo-crest {
        float: right;
        height: 100px;
        margin-top: -15px;
        margin-bottom: -50px;
    }
    .work-company-name {
        font-weight: 700;
        font-size: 1.1em;
    }
    .work-company-logo-wrapper {
        text-align: center;
        .work-company-logo {
            height: 100px;
        }
    }
    .skill-section-header {
        width: 100%;
        font-size: 1.5em;
        border-bottom: 1px solid black;
        margin-bottom: 0.5em;
        color: #1234dd;
        .skill-pill {
            font-size: 0.6em;
            vertical-align: middle;
        }
    }
    .skill-section-body {
        .hobbies {
            border: none;
            display: table;
            .hobby {
                display: table-cell;
                padding: 0 1.75em;
                border: none;
                text-align: center;
            }
        }
    }
    .skill-section-table {
        td, tr {
            border: 0;
        }
        border: 0;
        width: 100%;
        tr td:first-child {
            width: 20%;
            padding: 0.5em 0 0 1em;
            vertical-align: top;
        }
        tr td:last-child {
            width: 80%;
            padding-top: 0.5em;
        }
    }
    .skill-pill {
        border: 1px solid rgba(80, 0, 200, 0.8);
        border-radius: 5px;
        padding: 0.25em 0.75em;
        background-color: rgba(80, 0, 200, 0.6);
        color: white;
        font-size: 0.9em;
        line-height: 1.5;
    }
    .skill-industry-experience {
        border: 1px solid rgba(40, 200, 50, 0.8);
        background-color: rgba(40, 200, 50, 0.6);
    }
    p.about-me {
        font-size: 1.2em;
        padding: 1em;
    }
    .skill-section-carousel {
        display: table;
        .carousel-gutter {
            width: 5%;
            display: inline-block;
        }
        .carousel-group {
            width: 30%;
            display: table-cell;
            padding-top: 1em;
            text-align: center;
            .carousel-title {
                font-weight: 700;
                text-align: center;
            }
            .carousel-body {
                text-align: center;
            }
            .carousel-body-img {
                width: 50%;
            }
        }
    }
}